@model FinansBank.Models.Entity.Terminal
@{
    ViewBag.Title = "TerminalImport";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("UPDATE", "Terminal", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.TerminalID)
        @Html.TextBoxFor(m => m.TerminalID, new { @class = "form-control" , @readonly = "readonly" })


        @Html.LabelFor(m => m.TerminalName)
        @Html.TextBoxFor(m => m.TerminalName, new { @class = "form-control" })


        @Html.LabelFor(m => m.TerminalTypes)
        @Html.TextBoxFor(m => m.TerminalTypes, new { @class = "form-control" })


        @Html.LabelFor(m => m.SeriouslyNo)
        @Html.TextBoxFor(m => m.SeriouslyNo, new { @class = "form-control" })


        @Html.LabelFor(m => m.Situation)
        @Html.TextBoxFor(m => m.Situation, new { @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-warning"> Terminal Güncelle</button>
    </div>
}

